name: release
on:
  release:
    types:
      - prereleased
      - released
  push:
    tags:
      - '*'
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    name: Checks
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Verify version matches tag
        run: |
          VERSION_IN_CARGO=$(sed -n 's/^version = "\(.*\)"/\1/p' opamp-client/Cargo.toml)
          if [ "${VERSION_IN_CARGO}" != "${{ github.ref_name }}" ]; then
            echo "Package version specified in Cargo.toml (${VERSION_IN_CARGO}) differs from tag (${{ github.ref_name }}), exiting"
            exit 1
          fi

      - name: Send notification to Slack Workflow
        if: ${{ failure() }}
        id: slack
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          payload: |
            {
              "text": ":x: Hi AC, an OpAMP client release has just failed"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.slack_webhook }}
